
CONFIG_ESP32S3_CAN_SUPPORTED=y
CONFIG_SOC_TWAI_SUPPORTED=y
CONFIG_TWAI_ISR_IN_IRAM=y
CONFIG_TWAI_SUPPRESS_FEATURE_WARNINGS=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
